/*-----------------------------GENERAL----------------------*/
html{
  background: #fff;                               /* couleur de fond */
  font-family:  ‘Lato’,‘Arial’, sans-serif;       /* police de caractère */
  font-weight : 300;                              /* épaisseur de la police */
  font-size: 20px;                                /* taille de la police */
  color: #555;                                    /* couleur de la police */
  text-rendering: optimizeLegibility;             /*  /// Voir PDF */
  text-align: center;
}

header{

  background-image: linear-gradient(rgba(25, 127, 40, 0.7), rgba(49, 255, 81, 0.7)), url(img/onepunch.jpeg); /* Ajout background et filtre */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section{
  padding:85px 0;
}

h2{
  text-align: center;
  font-size: 180%;
  word-spacing:10px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 50px;
}

h2::after{
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e67e22;
  margin: 0 auto;
  margin-top: 15px;
  content:""
}

h2::before{
  content: ""
}

.long-copy{
  line-height: 145%;
  margin-left:5%;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

.manga-text-box{
  position:absolute;  /* positionne l’élément suivant les coordonnées top et left /// Voir PDF */
  top:50%;
  left:50%;
  transform: translate(-50%,-50%); /* Elle permet d’effectuer une translation (un déplacement) de l’élément sur les axes X et Y. /// Voir PDF */
  width: 1140px;
}
/*---------------------------boutons-----------------------*/

.btn{
  padding: 10px 30px;
  border:1px solid #fff;
  border-radius: 50px;
  font-weight: 100;
}

.btn:hover{
  border:5px solid pink;
}

.btn-full{
  background-color: pink;
  color: #fff;
}

.btn-ghost{
  color: pink;
}

.btn-ghost:hover{
  background-color: black;
  color: white;
}
/*---------------------------LOGO--------------------*/

.logo{
  height: 100px;
  float: left;
  margin-top:20px;
}

.main-nav{
  list-style: none;
  float: right;
  margin-top: 20px;
}

.main-nav li{
  display: inline-block;
  margin-left: 40px;
  text-transform: uppercase;
}

.main-nav li a{
  text-decoration: none;
  color:#fff;
  font-size: 90%;
}

.ion-android-star {
  font-size: 45px;
  color: orange;
}

h3{
  text-align: center;
}

p{
  text-align: center;
}

.ion-ios-pulse-strong {
  font-size: 45px;
  color: brown;
}

.ion-ios-heart {
  font-size: 45px;
  color: red;
}

.ion-ios-cog {
  font-size: 45px;
  color: black;
}

.deco{
  text-align: center;
}

.range-photo{
  list-style: none;
  width: 100%;
}

.range-photo li{
  display: block;
  float: left;
  width: 25%;
  margin-bottom: 50px;
}

.photo{
  width: auto;
  overflow: hidden;
  background-color: black;
}

.photo img{
  opacity: 0.4;
  width: 100%;
  height: auto;
  transform: scale(1.5);
  transition: transform 2s,opacity 2s;
}

.photo img:hover{
  opacity: 1;
  transform: scale(1);
}

footer{
  margin-top: 100px;
  margin-bottom: 100px;
}
/*---------mobile----------*/

.col-mobile{
  margin-top: 30px;
}

.col-mobile:first-child{
  text-align: right;
  padding-right: 3%;
}

.col-mobile:last-child{
  padding-left: 3%;
}

.Iphone{
  width: 40%;
}

.service-mobile div{
  border: 1px solid orange;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 10px;
  float: left;
  margin-right: 25px;
  font-size: 150%;
}

.service-mobile{
  margin-bottom: 50px;
}

.btn-a img{
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.nom-du-centre{
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 35px;
}

.ion-location{
  margin-right: 10px;
  font-size: 30px;
  text-align: left;
  color: red;
  margin-left: 20px;
}

.ion-ios-telephone{
  margin-right: 10px;
  font-size: 30px;
  text-align: left;
  color: red;
  margin-left: 20px;
}

.ion-ios-email{
  margin-right: 10px;
  font-size: 30px;
  text-align: left;
  color: red;
  margin-left: 20px;
}

.rue{
  text-align: left;
  margin-left: 25px;
}

.num{
  text-align: left;
  margin-left: 20px;
}

.mail{
  text-align: left;
  margin-left: 20px;
}

.img {
  height: 250px;
  width: auto;
  margin: 0 auto;
}

a{
  color: red;
}
.icone-small{
  color: orange;
  margin-right: 10px;
  font-size: 120%;
}

.city{
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

blockquote{
  font-style: italic;
  margin-top: 40px;
  line-height: 145%;
  text-align: left;
}

blockquote::before{
  content: "\201C";
  font-size: 500%;
  color: red;
  display: block;
}

cite{
  font-size: 90%;
  margin-top: 15px;
  display: block;
}

cite img{
  margin-right: 10px;
  height: 45px;
  border-radius: 50%;
}

.tableau-prix{
  background-color: #f4f4f4;
}

.box-prix{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 2px #eee;
  text-align: left;
}

.box-prix div{
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.box-prix div:first-child{
  background-color: grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-prix div:last-child{
  text-align: center;
}

.box-prix ul{
  list-style: none;
}

.price{
  font-size: 300%;
  color: orange;
  font-weight: 100;
}

.price span{
  font-size: 70%;
}

.price-month{
  font-size: 80%;
}
