/*-----------------------------GENERAL----------------------*/
html{
  background: #fff;                               /* couleur de fond */
  font-family:  ‘Lato’,‘Arial’, sans-serif;       /* police de caractère */
  font-weight : 300;                              /* épaisseur de la police */
  font-size: 20px;                                /* taille de la police */
  color: #555;                                    /* couleur de la police */
  text-rendering: optimizeLegibility;             /*  /// Voir PDF */
}
.row{
  max-width: 1140px;
  margin: 0 auto;
}
header{

  background-image: linear-gradient(rgba(25, 127, 40, 0.7), rgba(49, 255, 81, 0.7)), url(img/onepunch.jpeg); /* Ajout background et filtre */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.manga-text-box{
  position:absolute;  /* positionne l’élément suivant les coordonnées top et left /// Voir PDF */
  top:50%;
  left:50%;
  transform: translate(-50%,-50%); /* Elle permet d’effectuer une translation (un déplacement) de l’élément sur les axes X et Y. /// Voir PDF */
  width: 1140px;
}
/*---------------------------boutons-----------------------*/
.btn{
  padding: 10px 30px;
  border:1px solid #fff;
  border-radius: 50px;
  font-weight: 100;
}

.btn:hover{
  border:5px solid pink;
}
.btn-full{
  background-color: pink;
  color: #fff;
}
.btn-ghost{
  color: pink;
}

.btn-ghost:hover{
  background-color: black;
  color: white;
}
/*---------------------------LOGO--------------------*/
.LOGO{
  height: 100px;
  float: left;
  margin-top:30px;
}
.main-nav{
  float: right;
  list-style: none;
  margin-top: 30px;
}
.main-nav li{
  display: inline-block;
  margin-left: 40px;
  text-transform: uppercase;

}
.main-nav li a{
  text-decoration: none;
  color:#fff;
  font-size: 90%;
}
